#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/{

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp Q           &kp W            &kp E             &kp R        &kp T      &kp Y        &kp U          &kp I              &kp O            &kp P
&hm LEFT_GUI A  &hm RIGHT_ALT S  &hm LEFT_SHIFT D  &hm LCTRL F  &kp G      &kp H        &hm RCTRL J    &hm RIGHT_SHIFT K  &hm RIGHT_ALT L  &hm RIGHT_GUI SEMICOLON
&kp Z           &kp X            &kp C             &kp V        &kp B      &kp N        &kp M          &kp COMMA          &kp DOT          &kp SLASH
                                                   &mo 1        &kp SPACE  &lt 2 ENTER  &kp BACKSPACE &kp SPACE &kp SPACE
            >;
        };

        numbers {
            label = "num";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4  &kp N5     &kp NUMBER_6      &N7             &kp N8                &kp N9  &kp N0
&kp ESC       &none         &kp LEFT_SHIFT  &none         &none      &kp MINUS         &kp EQUAL          &kp GRAVE             &none   &kp SQT
&kp TAB       &none         &none           &none         &none      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp NON_US_BACKSLASH  &none   &none
                                            &kp LGUI      &kp SPACE  &kp RSHIFT        &kp BACKSPACE &kp SPACE &kp SPACE
            >;
        };

        f_row {
            label = "FROW";
            bindings = <
&none           &kp UP_ARROW    &none            &none      &none      &kp F1      &kp F2   &kp F3   &kp F4   &bt BT_CLR
&kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none      &none      &kp F5      &kp F6   &kp F7   &kp F8   &bt BT_NXT
&none           &none           &none            &none      &none      &kp F9      &kp F10  &kp F11  &kp F12  &bt BT_PRV
                                                 &kp LCTRL  &kp SPACE  &kp RSHIFT  &none &kp SPACE &kp SPACE
            >;
        };
    };
};
